*.[1-9].gz
*.bak
*.core
*.diff
*.orig
*.patch
*.plist
*.rej
*.swap
*~
.*.sw[po]
.sw[po]
cscope.*
*.prefs
.settings
.metadata
!/contrib/groff/src/devices/grops/psfig.diff
!/lib/libstand/bzlib.c.diff
!/crypto/openssh/dist/regress
