*.[1-9].gz
*.bak
*.core
*.diff
!/contrib/groff/src/devices/grops/psfig.diff
!/lib/libstand/bzlib.c.diff
*.old
*.orig
*.patch
*.plist
*.rej
*.swap
*~
.*.sw[po]
.sw[po]
cscope.*
*.prefs
.settings/language.settings.xml
